<h6><%= professional.user.name %></h6>
<p><em><%= professional.description %></em></p>
<p><a data-id="<%= professional.id %>" data-name="<%= professional.user.name %>" class="btn btn-primary professional-chosen" onclick="fillForm(this);">Choose me</a></p>
