<div class="banner">
  <%= render 'shared/navbar'%>
  <div class="content-banner">
    <h1>Find a barman for your reception</h1>
    <div class="home_form">
      <%= render "shared/home_form"%>
    </div>
  </div>
</div>


