
<div class="wrapper-grey wrapper">
  <div class="container">
    <div class="row">
    <h1>Choose one of our delicious cocktails</h1>
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(cocktail.image) %>);">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


