<%= render 'shared/header' %>

<div id="video" style="height: 100vh; width: 100%; position: relative;" class="hidden-xs">
  <div class="full-cap-wraper">
    <div class="content-caption light-color">
      <div class="container">
        <h1>Find a barman</h1>
        <h2 class="h2">For your event</h2>
        <br>
        <div><a class="btn btn-md btn-white-line xs-hidden">Read More</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Intro Video Section -->

<div class="clearfix"></div>


<section id="service" class="ptb ptb-sm-80">
  <div class="wow fadeInLeft container text-center">
      <h3>Our Services</h3>
      <div class="spacer-60"></div>
      <div class="row">
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="fa fa-calendar-check-o"></i></div>
              <h5>Cocktails</h5>
              <p>Browse our repertoire of cocktails and recipes for inspiration.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="fa fa-user"></i></div>
              <h5>Events</h5>
              <p>Create an event and pick a barman from our list of professionals.</p>
          </div>
          <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="fa fa-glass"></i></div>
              <h5>Enjoy</h5>
              <p>Have the piece of mind to know your guests will enjoy top quality service.</p>
          </div>
      </div>
  </div>
</section>



<!-- Counter Section -->
<section id="counter" class="overlay-dark80 light-color ptb-80" style="background-image: url('img/full/23.jpg');" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter" data-count="2310">0</h1>
                <h6>Cocktails</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter" data-count="5054">0</h1>
                <h6>Barmans</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter" data-count="6">0</h1>
                <h6>Countries</h6>
            </div>
            <div class="col-md-3 mb-sm-30">
                <h1 class="counter" data-count="3390">0</h1>
                <h6>Events</h6>
            </div>
        </div>
    </div>
</section>
        <!-- End Counter Section -->



<!-- Work Section -->
<section id="work" class="wow fadeInUp pt pt-sm-80 text-center">
    <div class="container">
        <h3>Our cockails</h3>
        <div class="spacer-30"></div>
        <h5>The largest collection of cocktails for your event</h5>
        <div class="spacer-30"></div>
    </div>
    <!-- Work Gallary -->
    <div class="container-fluid ">
        <div class="row">
            <div class="container-grid nf-col-4">
              <% @cocktails.each do |cocktail| %>
              <div class="nf-item">
                    <div class="item-box">
                        <a href= <%= cocktail_path(cocktail.id) %> title= <% cocktail.name %>>
                            <%= image_tag cocktail.image , class:"item-container", alt:"2" %>
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white"><%= cocktail.name %></h5>
                                    <p class="white">Show details</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
              <% end %>

            </div>
        </div>
    </div>
    <!-- End Work Gallary -->
</section>
<!-- End Work Section -->


  <!-- Testimonials -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('img/full/22.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising. I did my first show in the third grade and just kept going. "</p>
                    <h6 class="quote-author">Jeff Dunham <span style="font-weight: 400;">( Appel Studio )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                    <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                    <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- End Testimonials -->








