<div class="user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="wrapper">
          <div id="container">
            <div class="info">
              <div class="name">
                <%= @user.name%>
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i><%= @user.address%></a>
              </div>
            </div>
            <div class="menu">
                <ul>
                  <li><a href="#">&#128222;</a></li>
                  <li><a href="http://twitter.com/ctrunsthis" target="_blank">&#59168;</a></li>
                  <li><a href="mailto:cole@coletownsend.com" target="_blank">&#9993;</a></li>
                  <li><a href="http://twitter.com/ctrunsthis">&#127748;</a></li>
                  <li class="add"><a href="#">&#59136;</a></li>
                </ul>
            </div>
            <div class="profile">

            </div>
          </div>
        </div>



        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="right"></div>
      </div>
    </div>
  </div>


</div>
