<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul>
          <li><i class="fa fa-youtube big-icon" ></i></li>
          <li><i class="fa fa-instagram big-icon"></i></li>
          <li><i class="fa fa-facebook-official big-icon"></i></li>
          <li><i class="fa fa-twitter big-icon"></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>I did it myself @LeWagon motherfuckaaaas!</p>
      </div>
    </div>
  </div>
</div>
