<div class="banner">
  <%= render "shared/navbar" %>
  <div class="container">
    <div class="col-xs-12 col-sm-6  col-sm-offset-3">
      <div class="login">
        <form id="mod">
          <input id="user_input_autocomplete_address" placeholder="Your business address">
          <input id="street_number" name="street_number" type="hidden">
          <input id="route" name="route" type="hidden">
          <input id="locality" name="locality" type="hidden">
          <input id="country" name="country" type="hidden">
          <input type='text' class="form-control" id='datetimepicker1' placeholder="Start time" />
          <input type='text' class="form-control" id='datetimepicker2' placeholder="End time" />
        </form>
      </div>
    </div>
  </div>
</div>

