.banner {
  background-size: cover;
  height: 100vh;
  text-align: center;
 }

.content-banner {
  padding: 20%;
  h1 {
    color: white;
    text-shadow: 1px 1px 1px grey;
  }
  .home_form {
    margin-top: 50px;
  }
}
