.banner {
  background-size: cover;
  height: 100vh;
 }

.content-banner {
  padding: 20%;
  h1 {
    color: white;
    text-shadow: 1px 1px 1px grey;
  }
  .home_form {
    margin-top: 50px;
  }
}

.recipe-arrow {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
