.banner {
  background-size: cover;
  height: 100vh;
 }

.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), image-url("banner.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
}

.content-banner {
  padding: 20%;
  h1 {
    color: white;
    text-shadow: 1px 1px 1px grey;
  }
  .home_form {
    margin-top: 50px;
  }
}

.recipe-arrow {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
