.bg-imgparty {
  background-image: url("https://images.unsplash.com/photo-1438557068880-c5f474830377?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a6fbae3380a9b4b075643262e58d9ee4");
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-imgprofile {
  background-image: url("https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?crop=entropy&dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-imgevents {
  background-image: url("https://images.unsplash.com/photo-1440713017205-02904f447e26?crop=entropy&dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450");
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-imglogin {
  background-image: url("https://images.unsplash.com/36/yJl7OB3sSpOdEIpHhZhd_DSC_1929_1.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=bff5aa50ae02b0c284e13c5b30b3aa4a");
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-imgpayment {
  background-image: url("http://munchies-images.vice.com/wp_upload/tipping_at_bars.jpg?crop=1xw:0.60031595576619xh;*,*&resize=1200:*&output-format=jpeg&output-quality=90");
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  .alert {
    margin-bottom: 0;
  }
}

#sear{
  input {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
}

#bg {
  background-image: url("banner.jpeg");
    background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.stripe-button-el span {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 50px !important;
  display: inline-block !important;
  text-align: center !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 25px !important;
  color: #fff !important;
  background: transparent !important;
  border: none !important;
  text-shadow: none !important;
  font-family: Raleway !important;
}

.stripe-button-el {
  position: relative !important;
  border-radius: none !important;
  width: 100% !important;
  height: 50px !important;
  padding: 15px 25px !important;
  background: #e6ae49 !important;
}
