.btn-create {
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
  font-weight: bold;
  background: #46BCEC;
  transition: background 0.3s ease;
  border-color: none;
}

.btn-create:hover {
  opacity: 1;
  background: #17aeea;
  text-decoration: none;
  color: white;
}
