.profile {
  padding-top: 40px;
  height: 600px;
  background-color: rgb( 245, 245, 245 );
  background-size: cover;
  font-size: 14px;

  #edit {
    text-decoration: none;
    border-top: 1px solid;
  }

}
.profile-content {
  margin-top: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 10px;
}

