// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
// // External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";
// // Your CSS
@import "components/bg";
// theme
@import "style";
@import "jquery-ui";
@import "ionicons";
@import "navigation";
@import "plugin/flexslider";
@import "plugin/owl.carousel";
@import "plugin/mediaelementplayer";
@import "plugin/colorbox";
@import "plugin/jquery.fs.tipper";
@import "plugin/jPushMenu";
@import "plugin/animate";
@import "plugin/YTPlayer";
@import "https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700";

.stripe-button-el span {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 50px !important;
  display: inline-block !important;
  text-align: center !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 25px !important;
  color: #fff !important;
  background: transparent !important;
  border: none !important;
  border-radius: none !important;
  text-shadow: none !important;
  font-family: Raleway !important;
}

.stripe-button-el {
  position: relative !important;
  width: 100% !important;
  height: 50px !important;
  padding: 15px 25px !important;
  background: #e6ae49 !important;
}
